[Desktop Entry]
Name=Yoga Spin
Exec=spin.py --daemon --loglevel 3
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
